// bg colors
[class*="bg-"] {
  color:white;

  &[class*="-primary"] {
    background-color:$primary-color !important;
  }
  &[class*="-secondary"] {
    background-color:$secondary-color !important;
  }
  &[class*="-tertiary"] {
    background-color:$tertiary-color;
  }
  &[class*="-light-grey"] {
    background-color:$light-grey;
    color:$font-color;
  }
}